<h1>You Cart</h1>
<body>
    <div class="yellow-surrounding-box">
<h3> Your cart was sucessfully emptied</h3>
		<p> Please proceed to the products page to continue shopping</p>
			<%= link_to 'Continue Shopping', :controller => :products %>
	</div>
</body>
<br>