
    <div class="yellow-surrounding-box">
    
                <div class="msg">
	            <%= render "thankyous/msg" %>

	           <%= link_to 'Continue Shopping', :controller => :products %>
	           <br>
	           <%= link_to 'My Account', signedinuserprofile_url %>
	  </div>
	  
