 
 <form>
     <form action="thankyous/show.html.erb">
      <input type="text" class="form-control"  name="name" placeholder="Name" required>
      <input type="text" class="form-control"  name="phone" placeholder="Telephone" required>
      <input type="text" class="form-control" name="email" placeholder="Email" required>
      <p>We appreciate your kind donation! Please fill in your details and pay now to complete your order </p>
      <input type="Submit">
  <div>
		<h5>Price: €<%= "#{current_order.subtotal}"%></h5>
		</div>
		</form>

	     <div>
	 <%= button_to 'Pay Now', thankyous_path, :method => :get %>

	  </div>